.lista-menu {display: none;
	position: absolute;
	top: 100%;
	width: 60vw;
}
	
.lista-menu__titulo,
.Lista-menu__item {
	padding: 1em;
	background-color: var(--branco);
}
.lista-menu titulo {color: var(--laranja);
	font-weight: 700;
}
	
.lista-menu link {background: var(-azul-degrade);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-transform: uppercase;
}
	
.container__botao {
	display: none
}
	